<style>
    .loader {
        position: fixed; /* or absolute */
        top: 50%;
        left: 50%;
    }
</style>
<div class="modal fade in" id="page-loader">
    <div class="modal-body">
        <div class="loader">
            <img src="@Url.Content("~/Images/ajax-loader.gif")" alt="Loading, please wait..." />
        </div>
    </div>
</div>
