@using WebTest.HtmlHelpers
@model List<WebTest.ViewModels.DiseaseTreatmentFactorViewData>
@{
    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.OnFailure = "OnAjaxFailure";
    options.OnSuccess = "OnAjaxSuccess";
    options.LoadingElementDuration = 1000;
    //options.UpdateTargetId = "disease_history_tab";
    options.InsertionMode = InsertionMode.Replace;

}
@if (Model != null && Model.Count() > 0)
{
    using (Ajax.BeginForm("SaveTreatmentFactorsIII", "DiseaseState", options))
    {
        @Html.EditorForTreatmentFactorViewDataList(Model)
    }
}
else
{
    <p class="text-warning">This page will be populated when prior questions are answered.</p>
}
