<div>
    <p>
        Our best treatment report is a product created following the principles of evidence-based medicine (EBM). Our goal is to provide you with the
        necessary and reliable information to allow you and your doctor make an informed treatment decision.
    </p>

    <h4>Can I just rely on doctor's experience?</h4>

    <p>
        Before evidence-based medicine comes to play, experience-based
        medicine is the mainstay of medical practice. It is still dominated in developing
        countries today. Decisions made by personal experience are not necessarily
        wrong, however, it is often biased towards a doctor’s own judgments about small
        group of patients. In facts, many treatments established by experience with theoretical
        reasoning have been proved either not effective or bring more harm than good, even
        the treatment has been used for many years. For example, radiotherapy used to treat breast
        cancer is usually delivered in 25 doses with 50 Gray each over five weeks. A
        large clinical trial completed in 2008 demonstrated a three week schedule with
        higher daily doses did the same job as to the five week schedule but with fewer
        side effects from radiation. Based on this study, the three-week schedule has
        now become the standard. In contrast, EBM asks for more rigorously proved evidence to support a treatment. 
        Personal experience must be incorporated with current best research evidence to provide maximum benefits for patient.
    </p>
    <h4>Can doctor provides me with the information I need?</h4>
    <p>
        Yes, this is the best place to find all the information. Every clinician strives to provide the best possible care
        for patient. However, information obtained from conventional sources (like text
        books or annual meetings) gets outdated quickly and the multitude of new
        research information is huge, it is not always possible to keep abreast of the
        most recent development. Image average seventeen articles are published for a given
        medical topic every day! In addition, some doctors may have limited access to English-dominated medical literatures while others 
        may lack the knowledge to lay out the search strategy and make critical appraisal about medical literature.
    </p>
     <h4>What can we do for you?</h4>
    <p>
        Among the three components of EBM, we can help you and your
        doctor find the critical information you need to make an informed decision. Our
        treatment report list available treatment options that are current, reliable
        and tailored to your particular situation. The report will show you how good
        each treatment effect is, what is the chance you will get the treatment effect,
        how many side effects it will bring in, how bad each side effect is and what is
        the chance to get the side effect. This information is necessary for you to make
        the important treatment decisions. You may find a treatment with better overall
        effects or less harms when compared with the treatment you are currently receiving.
        It may save you money if your current treatment is identified unnecessary or
        not effective. You may have more treatment options to choose to meet your
        personal or family concerns. Finally even our treatment report does not show
        any new treatment published recently, you will be assured that your current
        treatment is the right choice. More importantly, this process gets you educated
        about your disease and provides an opportunity to enhance your interaction with
        your doctors, nurses and other professional staff around you.
    </p>
    <h4>When do I need to consider a treatment report?</h4>
    <p>Any time if you are not certain that your treatment is </p>
    <ul>
        <li><span>current</span>: the standard treatment
        accepted by main stream of medical fields as of today or in special situations the experimental treatments just show promising.</li>
        <li><span>scientifically proved</span>: the treatment option is proved effective and safe through repeated clinic studies and matching your situation</li>
        <li><span>the best choice for you and your family</span>: benefits and drawbacks are clear to you so you can make the decision fits your personal or family value and financial concerns.</li>
    </ul>
</div>
