<div>
    <p>
        我们的最佳治疗报告是按照循证医学的原则进行开发的产品。我们的目标是为你提供必要和可靠的治疗信息，便与你和你的医生做出明智的治疗决定。
    </p>

    <h4>我可以完全依赖医生的经验吗？</h4>

    <p>
        依赖经验的临床实践是循证医学出现之前主要应用的临床实践。以医生个人经验做出的治疗决定未必就是不正确的，只是医生个人的经验常常局限于医生的个
        人判断和小部分人群，难免产生偏见。事实上很多根据经验和理论推理制定的治疗方法后来证明要么无效要么带来的伤害大于好处。比如用于治疗乳腺癌的放
        疗以前一直采用每次50格雷，五周二十五次的治疗方案。但是2008年完成的临床试验证明三周、单次剂量增大的方案可以达到与五周疗程相似的效果，但是
        由放疗引起的副作用减少。三周疗程因此成为当前的规范治疗。与经验医学实践相比，循证医学要求严格检验的证据。医生经验必须与当今可以获得的最佳
        疗效证据相结合才能给病人提供最大的利益。
    </p>
    <h4>我可以从医生那里获得必要的医疗信息吗？ </h4>
    <p>
        当然，医生是你获得信息的最好地方。每个医生都在尽力为病人提供最好的服务。但是传统来源（如课本或年会）的信息会很快过时。而新的研究资料又是巨量的。
        医生并不总能够及时了解最新的发展。想像每一医疗专题每天平均有17篇文章发表！此外，一些医生可能难以获得以英语为主的医学文献，而其他医生可能缺乏制
        定搜索策略，并如何对医学文献进行严格评估的技巧。
    </p>
    <h4>我们可以为你做什么？</h4>
    <p>
        在循证医学的三个组成部分中，我们可以帮助你和你的医生找到供你做出治疗决定的重要信息。我们的治疗报告包含最新，可靠，适合你个人情况的治疗方案。
        同时显示每个治疗方案的效果如何，成功机会有多大，会带来哪些副作用，每个副作用的程度如何，产生的机会有多大。这些信息对你做出重要治疗决策是必
        不可少的。与你正在接受的治疗相比，你也许会发现疗效更好或伤害更小的治疗。或者确定你目前的治疗是不必要的或无效的，这样可以节省你的花费。你也
        可能有更多的治疗方案选择，以满足你个人或家庭的需求。最后，即使我们的治疗报告没有能够显示任何新的治疗方法，也让你放心你目前的治疗选择是正确的。
        更重要的是，这个过程可以让你获得有关疾病的教育，并提供了一个与医生，护士和其他专业人员交流互动的机会。
    </p>
    <h4>什么时候我需要考虑获得治疗报告？</h4>
    <p>任何时候如果你对现有治疗的下列特点不能确定:</p>
    <ul>
        <li>
            <span>当前性</span>: 是当前医疗业公认的规范治疗或是在特殊情况下显示有前途的的试验性治疗。
        </li>
        <li>
            <span>有效性和安全性经过科学证明</span>: 治疗方法经过反复的临床试验证明有效和安全。而且适用于你的病情。
        </li>
        <li>
            <span>确信是你和你的家人的最好选择</span>: 你了解治疗的优缺点，成功概率和副作用。这些信息可以让你做出适合个人或家庭价值和财务的决定。
        </li>
    </ul>
</div>
