
.hiddenStepInfo {
    display: none;
}

.activeStepInfo {
    display: block !important;
}

.underline {
    text-decoration: underline;
}

.setup-content {
    margin-top: 16px;
}

.step {
    margin-top: 16px;
    text-align: center;
    font-size: 0.9em; /*yz*/
    /*border: 2px solid blue;*/
}

    .step .col-md-2 {
        background-color: #fff;
        border: 1px solid #C0C0C0;
        border-right: none;
        padding-top: 5px;
        height: 80px;
    }

        .step .col-md-2:last-child {
            border: 1px solid #C0C0C0;
        }

        .step .col-md-2:first-child {
            border-radius: 5px 0 0 5px;
        }

        .step .col-md-2:last-child {
            border-radius: 0 5px 5px 0;
        }

        .step .col-md-2:not(.activestep):hover {
            color: #F58723;
            cursor: pointer;
        }


    .step .activestep {
        color: #F58723;
        height: 100px;
        margin-top: -7px;
        padding-top: 7px;
        border-left: 6px solid #5CB85C !important;
        border-right: 6px solid #5CB85C !important;
        border-top: 3px solid #5CB85C !important;
        border-bottom: 3px solid #5CB85C !important;
        vertical-align: central;

    }

    .step .fa {
        padding-top: 15px;
        font-size: 40px;
    }
.btn-prev {
    margin-right: 5px;
}
.btn-next {
    margin-left: 5px;
}