@model WebTest.ViewModels.PatientMedicationAndAllergyHistoryViewData
<div>
    <div class="row">
        <div class="col-xs-12">
            @Html.LabelFor(x => x)
            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
        </div>
    </div>
</div>