<ul class="nav nav-tabs" id="payment_tabs">
    <li class="active"><a href="#service_summary_tab" data-toggle="tab">@Resources.ProfileTabServiceSummary</a></li>
    <li class="disabled"><a href="#payment_tab" data-toggle="">@Resources.ProfileTabMakePayment</a></li>
   
</ul>
<div class="tab-content">
    <div class="tab-pane active well" id="service_summary_tab">
       
    </div>
    <div class="tab-pane well" id="payment_tab">

    </div>
</div>
